.ads {
  margin: 100px 0px 60px;
  min-height: 90%;
  width: 512px;
  padding: 20px;

  h2 {
    text-align: left;
    font-weight: 300;
  }

  .block-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
  }

  .wrapper-input-file {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;

    .label-file {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 70px;
      line-height: 23px;
    }

    .wrap-input {
      position: relative;

      .dashed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed #fff;
        border-radius: 8px;
        width: 275px;
        height: 270px;
        // position: relative;
        margin-bottom: 70px;

        #ad-file {
          outline: none;
          opacity: 0;
        }
      }

      .btn-file {
        width: 275px;
        padding: 13px 84px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--dark-block);
        border-radius: 8px;
        cursor: pointer;
      }

      .image-preview {
        width: 275px;
        height: 170px;
      }
    }
  }
  .website-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    & > input {
      width: 100%;
      height: 48px;
      background: transparent;
      border: none;
      border-radius: 10px;
      border: 1px solid #ffffff;
      margin-top: 4px;
      padding: 14px 12px;
      outline: none;

      &:valid {
        border-color: #ffffff;
      }

      &:invalid {
        border-color: #f94439;
      }
    }
  }
}
