* {
  margin: 0;
}

.presentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 10;
  }

  .step1 {
    position: absolute;
    bottom: 0;
  }

  .step {
    position: absolute;
    box-sizing: border-box;
    z-index: 10000;
    bottom: 0;
    width: 607px;
    height: 272px;
    background: var(--dark-light);
    border: 1px solid #8DD9FC;
    backdrop-filter: blur(10px);
    border-radius: 24px;
    display: flex;

    .step-content {
      .list-lines {
        list-style: none;
        display: flex;
        padding: 0;
        width: 340px;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 20px;

        &__item {
          width: 52px;
          height: 6px;
          background: var(--gold);
          border-radius: 4px;
        }
      }

      &__title {
        display: inline-block;
        width: 340px;
        font-size: Pragmatica Extended, sanse-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 22.42px;
        text-align: center;
        margin-bottom: 6px;
        margin-left: 20px;
        text-align: center;
      }

      &__content {
        display: inline-block;
        width: 370px;
        font-size: Pragmatica Extended, sanse-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        // margin-bottom: 56px;
        margin-left: 10px;

      }

      .step-nav {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;

        // &__item:not(:nth-child(2)) {
        &__item {
          // border: 1px solid rgba(255, 255, 255, 1);
          margin-right: 12px;

          span {
            // display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: Roc Grotesk;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            outline: none;
            color: #FFFFFF;
            margin-right: 12px;
          }

          &:not(:nth-child(2)) {


            span {
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 1;
              background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
              border: 1px solid #FFFFFF;
              box-sizing: border-box;
              backdrop-filter: blur(20px);
              border-radius: 8px;
              width: 124px;
              height: 48px;


            }
          }


          &:nth-child(2) {

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 116px;
              opacity: 0.5;
              width: 97px;
              height: 23px;
              font-family: Roc Grotesk;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 23px;
              letter-spacing: 0.06em;
              text-transform: uppercase;
              outline: none;
              color: #FFFFFF;
            }
          }

          &:last-child {
            margin-right: 0;

            button {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .step1 {
    // top: 375px;
    top: 53%;
    left: 17%;
    // left: 204px;
    padding: 20px;
    height: 240px;

    &::after,
    &::before {
      content: "";
      border: solid transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
    }

    &::after {
      border-bottom-color: var(--dark-light);
      border-width: 21px;
      margin-left: -8px;
    }

    &::before {
      border-bottom-color: #8DD9FC;
      border-width: 23px;
      margin-left: -10px;
    }


    .step-img {
      margin-right: 0;
      width: 188px;
      height: 200px;
      margin-right: 23.21px;
    }

    .step-content {

      .list-lines {
        margin-top: 13px;
        margin-left: 0;

        &__item {
          // width: 70px;

          &:nth-last-child(-n+4) {
            opacity: 0.5;
          }
        }
      }

      &__title {
        margin-left: 0я;
      }

      &__content {
        margin-bottom: 42px;
        margin-left: 0;
      }

      .step-nav {
        margin-left: 97px;

        &__item {
          &:nth-child(2) {
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 1;
              background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
              border: 1px solid #FFFFFF;
              box-sizing: border-box;
              backdrop-filter: blur(20px);
              border-radius: 8px;
              width: 124px;
              height: 48px;
            }
          }


          &:first-child {
            span {
              opacity: 0.5;
              background: none;
              border: none;
              border-radius: none;
              width: 97px;
              height: 23px;
              font-family: Roc Grotesk;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 23px;
              letter-spacing: 0.06em;
              text-transform: uppercase;
              outline: none;
              color: #FFFFFF;
              -webkit-border-radius: none;
              -moz-border-radius: none;
              -ms-border-radius: none;
              -o-border-radius: none;
            }
          }
        }
      }
    }
  }


  .step2 {
    // top: 375px;
    // left: 381px;
    top: 52.8%;
    left: 32.3%;
    padding: 33px 30.81px 20px 21px;
    height: 240px;

    &::after,
    &::before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 100%;
      top: 44%;
    }

    &::after {
      border-right-color: var(--dark-light);
      border-width: 21px;
      margin-top: -8px;
    }

    &::before {
      border-right-color: #8DD9FC;
      border-width: 23px;
      margin-top: -10px;
    }


    .step-img {
      margin-right: 0;
      width: 130px;
      height: 200px;
      margin-left: 30px;
      margin-top: -15px;
    }

    .step-content {

      .list-lines {

        &__item {
          // width: 70px;

          &:nth-last-child(-n+3) {
            opacity: 0.5;
          }
        }
      }

      &__content {
        margin-bottom: 42px;
      }
    }
  }


  .step3 {
    // top: 82px;
    // left: 267px;
    top: 11.5%;
    left: 22.6%;
    padding: 40px 37px 30px 30px;

    &::after,
    &::before {
      content: "";
      border: solid transparent;
      position: absolute;
      top: 100%;
      left: 62%;
    }

    &::after {
      border-top-color: var(--dark-light);
      border-width: 21px;
      margin-left: -8px;
    }

    &::before {
      border-top-color: #8DD9FC;
      border-width: 23px;
      margin-left: -10px;
    }


    .step-img {
      margin-right: 30.31px;
      width: 127.69px;
      height: 200px;
    }

    .step-content {

      .list-lines {

        &__item {
          // width: 70px;

          &:nth-last-child(-n+2) {
            opacity: 0.5;
          }
        }
      }

      &__content {
        margin-bottom: 45px;
      }
    }
  }

  .step4 {
    // top: 94px;
    // left: 267px;
    top: 13%;
    left: 22.6%;
    padding: 40px 37px 30px 30px;

    &::after,
    &::before {
      content: "";
      border: solid transparent;
      position: absolute;
      left: 100%;
      bottom: 42%;
    }

    &::after {
      border-left-color: var(--dark-light);
      border-width: 21px;
      margin-bottom: 1px;
    }

    &::before {
      border-left-color: #8DD9FC;
      border-width: 23px;
      margin-bottom: -1px;
    }

    .step-img {
      margin-right: 30.31px;
      width: 127.69px;
      height: 200px;
    }

    .step-content {

      .list-lines {

        &__item {
          &:last-child {
            opacity: 0.5;
          }
        }
      }

      &__content {
        margin-bottom: 35px;
      }
    }
  }

  .step5 {
    // top: 173px;
    // left: 267px;
    top: 24.5%;
    left: 22.6%;
    padding: 40px 21px 30px 20px;

    &::after,
    &::before {
      content: "";
      border: solid transparent;
      position: absolute;
      left: 100%;
      bottom: 42%;
    }

    &::after {
      border-left-color: var(--dark-light);
      border-width: 21px;
      margin-bottom: 1px;
    }

    &::before {
      border-left-color: #8DD9FC;
      border-width: 23px;
      margin-bottom: -1px;
    }

    .step-img {
      margin-right: 10.23px;
      width: 164.77px;
      height: 200px;
    }

    .step-content {

      .list-lines {

        &__item {
          width: 52px;
        }
      }

      &__content {
        margin-bottom: 56px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .presentation {
    .step4 {
      left: 21%;
    }

    .step5 {
      left: 21%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .presentation {
    .step4 {
      left: 19%;
    }

    .step5 {
      left: 19%;
    }
  }
}

@media screen and (max-width: 1160px) {
  .presentation {
    .step4 {
      left: 17%;
    }

    .step5 {
      left: 17%;
    }
  }
}

@media screen and (max-width: 1116px) {
  .presentation {
    .step4 {
      top: 17%;
      left: 14.5%;
    }

    .step5 {
      top: 28.4%;
      left: 14.5%;
    }
  }
}

@media screen and (max-width: 1082px) {
  .presentation {
    .step4 {
      top: 15%;
      left: 12.5%;
    }

    .step5 {
      left: 12.5%;
    }
  }
}

@media screen and (max-width: 1048px) {
  .presentation {
    .step4 {
      left: 10%;
    }

    .step5 {
      left: 10%;
    }
  }
}

@media screen and (max-width: 1010px) {
  .presentation {
    .step4 {
      left: 7.5%;
    }

    .step5 {
      left: 7.5%;
    }
  }
}

@media screen and (max-width: 978px) {
  .presentation {
    .step4 {
      left: 5%;
    }

    .step5 {
      left: 5%;
    }
  }
}

@media screen and (max-width: 942px) {
  .presentation {
    .step4 {
      left: 2%;
    }

    .step5 {
      left: 2%;
    }
  }
}

@media screen and (max-width: 910px) {
  .presentation {
    .step4 {
      left: -1%;
    }

    .step5 {
      left: -1%;
    }
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    display: flex;
    justify-content: center;

    .step {
      left: auto;
      right: auto;
      width: 328px;
      flex-direction: column;
      padding: 20px 16px;
      align-items: center;

      .step-content {
        display: flex;
        flex-direction: column;

        .list-lines {
          width: 294px;
          margin: 0 auto 16px auto;

          &__item {
            width: 46px;
          }
        }

        &__title {
          width: 296px;
          margin: 0 auto 4px auto;
        }

        &__content {
          width: 296px;
          margin: 0 auto 0 auto;
        }

        .step-nav {
          flex-direction: row-reverse;
          justify-content: space-between;
          &__item {
            margin: 20px 0 0 0;
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
            }

            &:first-child{
              order: 2;
            }
            &:not(:nth-child(2)) {
              span {
                // width: 296px;
                margin: 0;
                width: 48px;
              }
            }
            &:nth-child(2) {
              order: 1;
            }
          }
        }

      }
    }

    .step1 {
      width: 328px;
      top: 57%;
      position: relative;

      &::after,
      &::before {
        content: "";
        border: solid transparent;
        position: absolute;
        // bottom: 100%;
        left: 46%;
        // left: auto;
        // right: auto;
      }

      &::after {
        border-bottom-color: var(--dark-light);
        border-width: 26px;
        margin-left: -12px;
        // bottom: 99%;
        top: -20%;
      }

      &::before {
        border-bottom-color: #8DD9FC;
        border-width: 24px;
        margin-left: -10px;
        // bottom: 100.5%;
        top: -21%;
      }

      .top-content {
        position: absolute;
        display: flex;
        top: -174%;
        flex-direction: column;
        align-items: center;
        height: 199px;
        padding: 20px 17px 33px 17px;
        background: var(--dark-light);
        border: 1px solid #8DD9FC;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        border-radius: 24px;

        .step-img {
          width: 113.28px;
          height: 120px;
          margin: 0 0 20px 0;
        }

        .list-lines {
          list-style: none;
          display: flex;
          padding: 0;
          width: 340px;
          justify-content: space-between;
          // margin-bottom: 20px;
          // margin-left: 20px;

          &__item {
            width: 46px;
            height: 6px;
            background: var(--gold);
            border-radius: 4px;
          }
        }
      }

      .step-content {
        padding: 20px 16px;
        height: 200px;

        .step-nav {
          margin: 30px 0 0 0;
          width: 100%;
          justify-content: flex-start;

          &__item {
            &:first-child {
              order: 2;
              margin-right: 13%;
              width: 120px;
              span {
                width: 120px;
              }
            }

            &:last-child {
              span {
                opacity: 1;
                margin: 0;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }

    .step2 {
      top: 19%;
      height: 315px;

      &::after,
      &::before {
        content: "";
        border: solid transparent;
        position: absolute;
        // bottom: 100%;
        left: 46%;
        // left: auto;
        // right: auto;
      }

      &::after {
        border-bottom-color: var(--dark-light);
        border-width: 26px;
        margin-left: -12px;
        // bottom: 99%;
        top: -12.5%;
      }

      &::before {
        border-bottom-color: #8DD9FC;
        border-width: 24px;
        margin-left: -10px;
        // bottom: 100.5%;
        top: -12%;
      }

      .step-img {
        order: -1;
        width: 39.06px;
        height: 60px;
        // margin-right: 0;
        // margin-bottom: 16px;
        margin: 0 0 16px 0;
      }

      .step-content {
        margin-top: 89px;
        // order: 1;
        .step-nav {
          &__item {
            &:nth-child(2) {
              order: 1;

              span {
                margin: 0;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .step3 {
      top: 4%;
      height: 280px;

      &::after,
      &::before {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 46%;
        // left: auto;
        // right: auto;
      }

      &::after {
        border-top-color: var(--dark-light);
        border-width: 21px;
        margin-left: -9px;
      }

      &::before {
        border-top-color: #8DD9FC;
        border-width: 23px;
        margin-left: -10px;
      }

      .step-img {
        width: 32px;
        height: 52.02px;
        // margin-right: 0;
        // margin-bottom: 11.98px;
        margin: 0 0 11.98px 0;
      }

      .step-content {
        .step-nav {
          &__item {
            &:nth-child(2) {
              order: 1;

              span {
                margin: 0;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .step4 {
      top: 40%;
      height: 303px;

      &::after,
      &::before {
        content: "";
        border: solid transparent;
        position: absolute;
        bottom: 100%;
        left: 46%;
        // left: auto;
        // right: auto;
      }

      &::after {
        border-bottom-color: var(--dark-light);
        border-width: 26px;
        margin-left: -13px;
        bottom: 99%;
      }

      &::before {
        border-bottom-color: #8DD9FC;
        border-width: 25px;
        margin-left: -12px;
        bottom: 100.5%;
      }

      .step-img {
        width: 38.31px;
        height: 57.43px;
        // margin-right: 0;
        // margin-bottom: 16.16px;
        margin: 0 0 16.16px 0;
      }

      .step-content {
        .step-nav {
          &__item {
            &:nth-child(2) {
              order: 1;

              span {
                margin: 0;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .clickOnWallet {
      top: 6.5%;
      height: 367px;
      padding: 24px 16px;

      &::after,
      &::before {
        left: 75%;
      }

      .step-img {
        position: relative;
        left: 12%;
        width: 141px;
        height: 90px;
        margin-bottom: 38.36px;
      }
    }

    .step5 {
      height: 302px;
      top: 50.5%;

      &::after,
      &::before {
        content: "";
        border: solid transparent;
        position: absolute;
        bottom: 100%;
        left: 46%;
        // left: auto;
        // right: auto;
      }

      &::after {
        border-bottom-color: var(--dark-light);
        border-width: 26px;
        margin-left: -13px;
        bottom: 99%;
      }

      &::before {
        border-bottom-color: #8DD9FC;
        border-width: 25px;
        margin-left: -12px;
        bottom: 100.5%;
      }

      .step-img {
        width: 65.91px;
        height: 80px;
        // margin-right: 0;
        // margin-bottom: 19px;
        margin: 0 0 19px 0;
      }

      // .step-content {
      //   .step-nav {
      //     &__item {
      //       &:nth-child(2) {
      //         // display: none;
      //       }
      //     }
      //   }
      // }
    }
  }
}
