.presentation {
  padding: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .step {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;

    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .modal1, .modal3 {
      position: absolute;
      bottom: 0;
      right: 30%;
      width: 50%;
      height: 42%;
      z-index: 9;

      .text-intro {
        width: 55%;
        position: absolute;
        top: 30%;
        right: 30px;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-weight: 400;
          font-size: 1.5vw;
        }

        p {
          text-align: center;
          font-weight: 300;
          margin: 0;
          font-size: 1vw;
        }


      }
    }

    .wrap-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      margin-bottom: 20px;

      .skip {
        color: var(--text-color);
        opacity: 0.5;
        text-decoration: none;
        margin-right: 15px;
        margin-left: 15px;
        max-height: 46px;
      }

      .next {
        background-color: var(--dark-block);
        border-radius: 8px;
        padding: 8px 30px;
        border: 1px solid var(--text-color);
        max-height: 46px;
      }
    }

    .modal2 {
      width: 48%;
      height: 42%;
      position: absolute;
      bottom: -10px;
      right: 18%;
      z-index: 9;
      padding: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      background-image: url('../../images/intro/modal_bg.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        height: 50px;
        width: 3px;
        background-color: var(--dark-gradient);
        z-index: 10;
        border: none;
      }

      .arrow_left {
        content: "";
        position: absolute;
        width: 30px;
        height: 50px;
        left: -27px;
      }

      .dash {
        position: absolute;
        width: 57%;
        top: 15%;
        left: 8%;
      }

      .human {
        width: 30%;
        margin-left: 20px;
      }

      .text-intro {
        margin-top: 20px;
        height: 72%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .skip {
          margin-left: 20px;
        }
      }
    }

    .modal3 {
      position: absolute;
      bottom: 36%;
      right: 26%;
      width: 50%;
      height: 42%;
      z-index: 9;
      .text-intro {
        top: 20%;
        width: 60%;
        p {
          white-space: nowrap;
        }
      }
      .wrap-buttons {
        justify-content: space-between;
      }

    }

    img {
      width: 100%;
    }

    .left {
      margin-right: 20px;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .graph {
        margin-bottom: 20px;
      }

      .left-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .rates {
          width: 40%;
        }

        .bets {
          width: 53%;
        }
      }
    }

    .right {
      width: 25%;
    }
  }
}

.light {
  z-index: 9;
}
